.ui.input {
  width: 100%;
  margin: 10px 0;
  padding-left: 10px;
}
.error-block {
  color: rgb(255, 99, 71);
  padding: 0 10px;
}

.btn {
  margin: 10px 0;
  background-color: #4db6e2;
  color: #fff;
  border: none;
  font-size: 22px;
  padding: 12px 0;
  font-weight: 300;
  cursor: pointer;
  border-radius: .28571429rem;
}

.link {
  color: #4183c4;
  cursor: pointer;
}